<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v=2">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Task JSON</title>

</head>
<body>
    <h1>Adicionar ou Editar Tarefa</h1>
    <form method="post" action="/">
        <input type="hidden" id="task_id" name="task_id" value="{{ task.ID if task else '' }}">
        
        <label for="task">Nome da Tarefa:</label>
        <input type="text" id="task" name="task" required value="{{ task.Task if task else '' }}"><br><br>

        <label for="start_date">Data de Início:</label>
        <input type="date" id="start_date" name="start_date" required value="{{ task['Start Date']|date('Y-m-d') if task else '' }}"><br><br>

        <label for="duration">Duração (dias):</label>
        <input type="number" id="duration" name="duration" required value="{{ task.Duration if task else '' }}"><br><br>

        <button type="submit">{{ 'Atualizar' if task else 'Adicionar' }}</button>
    </form>

    <h2>Tarefas Atuais</h2>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task['Task'] }} - {{ task['Duration'] }} dias
                <a href="{{ url_for('edit', task_id=task['ID']) }}">Editar</a>
                <a href="{{ url_for('delete', task_id=task['ID']) }}">Excluir</a>
            </li>
        {% endfor %}
    </ul>

    <a href="/gantt">Ver Diagrama de Gantt</a>
    <script src="script.js"></script>
    <h1>Download Task JSON</h1>
    <!-- Botão de download -->
    <a href="/download-task" download="task.json">
        <button>Baixar Task JSON</button>
    </a>

</body>
</html>

